# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Envs
.venv/
venv/
.env

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Caches
.cache/
**/.cache/
**/hf_cache/
**/huggingface/

# Build artifacts
build/
dist/
*.egg-info/

# Node (in case of tools)
node_modules/
